    <div class="container mt-4">
    <tr>
      <td>
      <%= publication.id %>
      </td>
      <td>
      <%= publication.publication_image %>
      </td>
      <td>
      <%= publication.user.username %>
      </td>
            <td>
      <%= publication.data_create %>
      </td>

      <td>
        <%= link_to 'Ver', publication_path(publication), class: "btn btn-primary btn-sm" %>
      </td>
    </tr>
    </div>