<div class="container mt-4">
  <div class="card text-bg-light mb-3 mx-auto" style="max-width: 24rem;">
    <div class="card-header">Crear Publicacion</div>
    <div class="card-body">
      
      <% if @publication.errors.any? %>
        <div class="alert alert-danger">
          <h5>Errores al crear nueva Publicacion:</h5>
          <ul>
            <% @publication.errors.full_messages.each do |pbl| %>
              <li><%= bpl %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with(model: @publicaiton, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :publication_image, "Imagen" %>
          <%= form.text_field :publication_image, placeholder: "URL de imagen", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :description, "Descripcion" %>
          <%= form.password_field :description, placeholder: "Agregue descripcion", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :user_id, "" %>
          <%= form.text_field :, placeholder: "", class: "form-control" %>
        </div>

        <div>
        <%= date_create: Date.today %>
        </div>

        <div class="d-flex justify-content-between">
          <%= form.submit "Guardar", class: "btn btn-primary btn-sm", id: "liveAlertBtn" %>
          <%= link_to 'Volver', users_path, class: "btn btn-secondary btn-sm" %>
        </div>
      <% end %>

    </div>
  </div>
</div>