<div class="container mt-4">
<br>
<br>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">

   <p><%= @publication.user.username %></p>
 
   <br>
    <p>
<%= @publication.publication_image %>

</p>

<strong>Likes: </strong>
<ul>
  <% @publication.likes.each do |like| %>
    <li><%= like.user.username %></li>
  <% end %>
</ul>
<p><strong>Descripción:</strong> <%= @publication.description %></p></p>

<strong>Comentarios: </strong>
<% @comments.each do |comment| %>
  <div class="mb-3 p-2 border rounded">
    <strong><%= comment.user.username %></strong> dijo:
    <p><%= comment.content %></p>
  </div>
<% end %>

<strong>Fecha de creacion de la publicacion: </strong>

<p>
<%= @publication.data_create %>
</p>
<td>
<%= link_to 'Volver', publications_path, class: "btn btn-primary btn-sm" %>
</td>
</p>
  </div>
  </div>
  </div>