<br>
<br>
<h1 class="position-absolute top-0 start-50 translate-middle-x">Publicacion</h1>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">

   <p><%= @publication.users.username %></p>
 
   <br>
    <p>
<%= @publication.publication_image %>

</p>

<strong>Likes: </strong>
<ul>
  <% @publication.likes.each do |like| %>
    <li><%= like.users.username %></li>
  <% end %>
</ul>
<p><strong>Descripción:</strong> <%= @publication.description %></p></p>

<strong>Comentarios: </strong>
<% @comments.each do |comment| %>
  <div class="mb-3 p-2 border rounded">
    <strong><%= comment.users.username %></strong> dijo:
    <p><%= comment.content %></p>
  </div>
<% end %>

<strong>Fecha de creacion de la publicacion: </strong>

<p>
<%= @publication.data_create %>
</p>

</p>
  </div>
  </div>