    <tr>
    <td>
    <%= index + 1 %>
    </td>
      <td>
      <%= user.name %>
      </td>
      <td>
      <%= user.username %>
      </td>
      <td>
      <%= user.mail %>
      </td>
            <td>
      <%= user.sex %>
      </td>
            <td>
      <%= user.user_image %>
      </td>


      
      <td class="text-end">
        <%= link_to 'Ver', user_path(user), class: "btn btn-primary btn-sm" %>
      </td>
    </tr>