 <div class="container mt-4">


<br>
<br>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">
    
    <p>
<strong>Nombre: </strong>
<%= @user.name %>
</p>

<p>
<strong>Apellido: </strong>
<%= @user.username %>
</p>

<p>
<strong>Email: </strong>
<%= @user.mail %>
</p>

<p>
<strong>Sexo: </strong>
<%= @user.sex %>
</p>

<p>
<strong>Imagen: </strong>
<%= @user.user_image %>
</p>

<p>
<strong>Fecha de creacion: </strong>
<%= @user.date_create %>
</p>

<p>
<strong>Publicaciones creadas: </strong>
<ul>
    <% @publications.each do |publication| %>
      <li>ID de publicación: <%= publication.id %></li>
    <% end %>
  </ul>
</p>

<td>
<%= link_to 'Volver', users_path, class: "btn btn-primary btn-sm" %>
</td>
</p>
  </div>
  </div>
</div>