    <td>
<%= link_to 'Add new user', new_user_path %>
</td>

<br>
<br>
<h1 class="position-absolute top-0 start-50 translate-middle-x">Detalles del usuario</h1>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">
    
    <p>
<strong>Nombre: </strong>
<%= @user.name %>
</p>

<p>
<strong>Apellido: </strong>
<%= @user.username %>
</p>

<p>
<strong>Email: </strong>
<%= @user.mail %>
</p>

<p>
<strong>Sexo: </strong>
<%= @user.sex %>
</p>

<p>
<strong>Imagen: </strong>
<%= @user.user_image %>
</p>

<p>
<strong>Fecha de creacion: </strong>
<%= @user.date_create %>
</p>

<td>
<%= link_to 'Volver', users_path %>
</td>
</p>
  </div>
  </div>